{% extends 'base.html' %}

{% block styling %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing_page.css') }}" /> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" /> 
{% endblock %}

{% block content %}
    <div class="overlay">
    <div class="homepagecontent" style="padding-top: 5%;">
        <img src="/static/img/cornell-bear.png" alt="Cornell Bear" width=100px height=120px>
            <h1 class='appTitle'> Cornell Course Recommender </h1>
    </div>

    <!-- https://www.w3schools.com/css/css3_buttons.asp -->

    <center>
        <a href = "https://bigredcourserecommender-sp.herokuapp.com"><button class="button"><b>Spring Roster</b></button></a>
        <a href = "http://bigredcourserecommender-fa.herokuapp.com"><button class="button"><b>Fall Roster</b></button></a>
    </center>

    </div>

{% endblock %}    



