<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="topnav">
          <a class="active" href="/">Home</a>
          <a href="/saved">My Saved Courses</a>
          <a href="/login">Login</a>
        </div>
        <form class="form-inline global-search">
            <div class="form-group">
                <img src="/static/img/cornell-bear.png" alt="Cornell Bear" style="width:100px;height:120px;"> <br>
                <h1 style="font-size: 40px; font-family:Futura; color: #000"> Touchdown's Course Recommender </h1>
                <br><br>
                <input id="input" type="text" name="search" class="form-control" placeholder="What types of classes are you interested in?">
            <button type="submit" class="btn btn-info"> SEARCH </button>
            </div>
        </form>
    </body>

</html>