{% extends 'base.html' %}

{% block styling %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}

{% block content %}
<div class="homepagecontent" style="padding-top: 10%;">
<img src="/static/img/cornell-bear.png" alt="Cornell Bear" width=100px height=120px>
<h1 class='appTitle'> Touchdown's Course Recommender </h1>
    <div class="searchbox">
        <form class="mainpage_searchform"> 
            <input id="input-search" type="text" name="search"
                class="form-control" placeholder="What types of classes are you interested in?">
            <button type="submit" class="btn"> SEARCH </button>
        </form>
    </div>
</div>
{% endblock %}
