{% extends 'base.html' %}

{% block styling %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing_page.css') }}" /> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" /> 
{% endblock %}

<body>
{% block content %}
    <div class="overlay">
    <div class="homepagecontent" style="padding-top: 5%;">
        <img src="/static/img/cornell-bear.png" alt="Cornell Bear" width=100px height=120px>
            <h1 class='appTitle'> Cornell Course Recommender </h1>
    </div>

    <!-- https://www.w3schools.com/css/css3_buttons.asp -->

    <center>
        <a href="#" class="button">Spring Roster</a>
        <a href="#" class="button">Fall Roster</a>
    </center>

    <div class="footer">
        <p>App Created by {{netid}}
        for CS 4300: Language and Information at Cornell University, Spring 2021.</p>
        <p><a href="https://cornellcourserecommender2.herokuapp.com/">Second Prototype</a> | <a href="https://cornellcourserecommender.herokuapp.com/">First Prototype</a></p>
    </div>
    </div>

{% endblock %}    



