{% extends 'base.html' %}

{% block styling %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}" />
{% endblock %}


{% block content %}
<img id= 'touchdown' src="/static/img/cornell-bear.png" alt="Cornell Bear" width=100px height=120px>

<form class="form-inline global-search">
        <input id="input" type="text" name="search" class="form-control" placeholder= "{{query}}">
    <button type="submit" class="btn btn-info"> SEARCH </button>
</form>

{% if data %}
<ol id='search_results'>
        {% for d in data %}
        <li class=searchresult>
            <h2 class='courseTitleandCode'>{{d['subject']}} {{d['catalogNbr']}}: {{d['titleLong']}}</h2>
            <h4 class='instructor'>Instructor: {{d['firstName']}} {{d['lastName']}}</h4>
            <p class='coursedescription'><strong>Description:</strong>
            {% if d['description'] %}{{d['description']}}</p>
            {% else %}No description is available at this time. Sorry!</p>
            {% endif %}
            <p class='prereq'><strong>Prerequisites/Corequisites:</strong>
            {% if not d['catalogPrereqCoreq'] or d['catalogPrereqCoreq']==None %}None</p>
            {% else %}{{d['catalogPrereqCoreq']}}</p>
            <a href="http://localhost:5000/similar/?courseid={{d['crseId']}}">Find Similar Courses</a>
            {% endif %}
        </li>
        {% endfor %}
</ol>
{% endif %}
{% endblock %}