{% extends 'base.html' %}

{% block styling %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/similar.css') }}" />
{% endblock %}


{% block content %}
<img id= 'touchdown' src="/static/img/cornell-bear.png" alt="Cornell Bear" width=100px height=120px>

<form class="form-inline global-search">
        <input id="input" type="text" name="search" class="form-control" value="{{crse['titleLong']}}">
    <button type="submit" class="btn btn-info"> SEARCH </button>
</form>

{% if data %}
<h3> Courses similar to "{{crse['titleLong']}}": </h3>
<ol id='search_results'>
        {% for d in data %}
        <li class=searchresult>
        <h2 class='courseTitleandCode'><a style="color:black;" href="https://classes.cornell.edu/browse/roster/SP21/class/{{d['subject']}}/{{d['catalogNbr']}}" target="_blank">{{d['subject']}} {{d['catalogNbr']}}: {{d['titleLong']}}</a></h2>
            <h4 class='instructor'>Instructor: {{d['firstName']}} {{d['lastName']}}</h4>

        <div class='RMP'>
            {% if d['RMPprofname'] != None  %}
                <div class='RMPtitle'>

                    <p><strong>Rate my Professor Average Scores for {{d['RMPprofname']}}  <a style="color:black;" target="_blank" href={{d['RMPLink']}}>({{d['RMPCount']}} ratings)</a>  </strong></p>
                    <div class='RMPaverages'>
                        {% if d['RMPdifficulty'] != None  %}
                            <p><strong>Difficulty:</strong> {{ d['RMPdifficulty'] | round(2) }} / 5</p>
                        {% else %}
                            <p><strong>Difficulty:</strong> n/a  </p>
                        {% endif %}


                        {% if d['RMPrating'] != None  %}
                            <p><strong>Rating:</strong> {{d['RMPrating'] | round(2) }} / 5</p>
                        {% else %}
                            <p><strong>Rating:</strong> n/a </p>
                        {% endif %}


                        {% if d['RMPtakeagain'] != None  %}
                            <p><strong>Take Again:</strong> {{d['RMPtakeagain'] | round(2) }}%  </p>
                        {% else %}
                            <p><strong>Take Again:</strong> n/a </p>
                        {% endif %}


                    </div>


                </div>
            {% else %}
                <p class='RMPnone'>Sorry, no RMP ratings are available at this time!</p>

            {% endif %}
        </div>


            <p class='coursedescription'><strong>Description:</strong>
            {% if d['description'] %}{{d['description']}}</p>
            {% else %}No description is available at this time. Sorry!</p>
            {% endif %}
            <p class='prereq'><strong>Prerequisites/Corequisites:</strong>
            {% if not d['catalogPrereqCoreq'] or d['catalogPrereqCoreq']==None %}None</p>
            {% else %}{{d['catalogPrereqCoreq']}}</p>
            {% endif %}
            {% if not d['description']==None %}
            <a href="{{ url_for('irsystem.get_similar', classNbr=d['classNbr']) }}">Find Similar Courses</a>
            {% endif %}
            <!-- CHANGE THIS TO REFLECT THE STATE OF THE DATABASE - if a course is saved or not -->
            {% if d['saved'] == true %}
                <a href="{{ url_for('irsystem.save_course', ourId=d['ourId']) }}">Unsave</a>
            {% else %}
                <a href="{{ url_for('irsystem.save_course', ourId=d['ourId']) }}">Save Course</a>
            {% endif %}
            
        </li>
        {% endfor %}
</ol>
{% endif %}
{% endblock %}